<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/test.webp">
    <script src="/js/app.js"></script>
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Dominik Kijowski as a node.js course with use of mapbox and weatherstack API</p>
        <img src="/img/robot.png" class="portait">
    </div>   
    
    {{>footer}}
</body>

</html>